<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>See post in Detail</h1>
    <div>
        <b><p> your id is:<%=post.id %></p></b>
        <h3> @<%=post.username %></h3>
        <h4><%=post.content %></h4>
    </div>
</body>
</html>